body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .title {
    text-align: center;
  }
  
  .subtitle {
    text-align: center;
  }
  
  .form-container {
    border: 1px solid #000a01;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #b0fa05;
    border: 5px solid red;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container input {
    margin-right: 10px;
    padding: 5px;
  }
  
  .input-container button {
    padding: 5px 10px;
  }
  
  .btn-agregar {
    background-color: rgb(241, 7, 7);
    color: white;
    border: none;
    border: 5px solid rgb(68, 9, 230);
  }


.btn-agregar:hover {
    background-color: rgb(10, 247, 81); /* Cambia el color de fondo cuando el mouse está sobre el botón */
}
  
  .borrar-btn {
    
    background-color: rgb(0, 7, 2); /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    border: none; /* Quita el borde del botón */
    padding: 10px 20px; /* Ajusta el espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    border: 5px solid rgb(68, 9, 230);
  }


.borrar-btn:hover {
    background-color:rgb(10, 247, 81); /* Cambia el color de fondo cuando el mouse está sobre el botón */
}
  .table-container {
    margin-top: 20px;
    background-color: #53fd05;
    border: 5px solid red;
  }
  
  table {
    width: 100%;
    border-collapse: separate;
  }
  
  table th, table td {
    border: 2px solid #e90606;
    padding: 8px;
  }
  
  table th {
    background-color: #cc0691;
    color: #ddd;
  }
  
  table td button {
    padding: 5px 10px;
  }
  
  .btn-editar {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border: 5px solid rgb(55, 0, 255);
    margin: 10px;
  }
